<script>
  import { evaluate } from "mathjs";
  let formula = "sin(x)";
  let path;
  let points = [];

  const { abs, sin, cos, pow, floor, ceil, round } = Math;

  const parse = () => {
    points = [];
    let y = 0;

    for (let i = 0; i < 100; i += 0.1) {
      y = evaluate(formula.replace(/x/g, i));
      points.push([i * 50.0, y * 50.0 + 250]);
    }

    path = getPathString(points, lineCommand);
  };

  const lineCommand = point => `L ${point[0]} ${point[1]}`;

  const getPathString = (points, command) => {
    // build the d attributes by looping over the points
    const d = points.reduce(
      (acc, point, i, a) =>
        i === 0
          ? // if first point
            `M ${point[0]},${point[1]}`
          : // else
            `${acc} ${command(point, i, a)}`,
      ""
    );

    return d;
  };

  function init(el) {
    el.focus();
  }

  parse();
</script>

<style>
  main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0 auto;
  }

  h1 {
    color: #000;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 800;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }

  .input {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    position: relative;
    display: flex;
    align-items: center;
  }

  .graph {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
  }
  input,
  .y {
    font-family: Consolas;
    font-size: 16px;
    letter-spacing: 0.04em;
    height: 40px;
    display: block;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  input {
    border: none;
    width: 100%;
    padding-left: 5px;
  }
  input:focus {
    outline: none;
    font-weight: bold;
  }
  footer {
    position: absolute;
    bottom: 1em;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    justify-content: flex-end;
  }
  footer p {
    text-align: right;
    padding: 2em;
    letter-spacing: 2px;
  }
</style>

<main>
  <h1>grphr</h1>
  <div class="input">
    <label class="y">y=</label>
    <input
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      type="text"
      bind:value={formula}
      on:keyup={parse}
      use:init />
  </div>

  <div class="graph">
    <svg
      width="100%"
      height={501}
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      class="svg">
      <path d={path} fill="none" stroke="#000" stroke-width={1} />

      <defs>
        <pattern
          id="smallGrid"
          width="25"
          height="25"
          patternUnits="userSpaceOnUse">
          <path
            d="M 25 0 L 0 0 0 25"
            fill="none"
            stroke="gray"
            stroke-width="0.1" />
        </pattern>
        <pattern
          id="grid"
          width="250"
          height="250"
          patternUnits="userSpaceOnUse">
          <rect width="250" height="250" fill="url(#smallGrid)" />
          <path
            d="M 250 0 L 0 0 0 250"
            fill="none"
            stroke="gray"
            stroke-width="0.25" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#grid)" />
    </svg>
    <footer>
      <p>
        graph equation drawing tool +++ v0.0.1a +++
        <a href="http://simonecarella.com" target="_blank">smncrll</a>
      </p>
    </footer>
  </div>
</main>
